# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk
*.suo
*.swp
*.swo
*.enc
*.idb
*.log
*.tlog
*.idb

# intellisense?
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
/lib/*.lib

# Executables
*.exe
*.out
*.app
RappFF.sdf
*.log
*.log
utils/x64/Debug/Utils.tlog/CL.command.1.tlog
*.tlog
utils/x64/Debug/Utils.tlog/CL.write.1.tlog
*.tlog
utils/x64/Debug/Utils.tlog/lib.command.1.tlog
*.lastbuildstate
x64/Debug/RappFF.Build.CppClean.log
*.ipch
*.db-shm
*.db-wal
Freetype_src/freetype-2.8.tar
*.sdf
*.htm
*.log
*.idb
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.log
*.idb
